<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="icon" href="{{ url_for('static', filename='images/Logo.png.webp') }}">
    </head>
    <body>
        <div class="container">
            <header class="d-flex  justify-content-center py-3">
              <ul class="nav nav-pills">
                <li class="nav-item"><a href="{{ url_for('doctor_bp.current_appointments') }}" {% if request.endpoint == 'doctor_bp.current_appointments' %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %}>Current Appointments</a></li>
                <li class="nav-item"><a href="{{ url_for('doctor_bp.upcoming_appointments') }}" {% if request.endpoint == 'doctor_bp.upcoming_appointments' %}class="nav-link active" aria-current="page"{% else %}class="nav-link"{% endif %}>Upcoming Appointments</a></li>
              </ul>
            </header>
        </div>
        <p class="ms-3 fw-bold lead text-center">{{ moment(current_time_utc).format('LLLL') }}</p>
        <hr>
        {% block content %}
        {% endblock content %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Patient Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                    <tr>
                        <td>{{ _('%(patient_name)s', patient_name=appointment.patient.name) }}</td>
                        <td>{{ _('%(datetime)s', datetime=moment(appointment.appointment_time).format('LLLL')) }}</td>
                        <td>{{ _('%(time_from_now)s', time_from_now=moment(appointment.appointment_time).fromNow()) }}</td>
                        <td>
                            <a href="{{ url_for('doctor_bp.update_appointment', appointment_id=appointment.id) }}" class="btn btn-primary">Update</a>
                            <a href="{{ url_for('doctor_bp.delete_appointment', appointment_id=appointment.id) }}" class="btn btn-danger">Delete</a>
                            <a href="{{ url_for('doctor_bp.view_appointment', appointment_id=appointment.id) }}" class="btn btn-info">View</a>

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <section class="bg-light">
            <div class="container">
                <div class="text-center">
                    
                </div>
            </div>

        </section>
        {{ moment.include_moment() }}
        {{ moment.lang(g.locale) }}
    </body>
</html>
