.card {
    transition: transform 0.3s ease;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.05);
}
.card-title {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}
.card:hover .card-title {
    color: #0d6efd;
}
.card-title:hover {
    color: #0d6efd;
}
.card-title::after {
    content: ">";
    margin-left: 5px;
    transition: color 0.3s ease;
}

.card-title:hover::after {
    color: #0d6efd;
}

.card-text {
    color: #555;
}

.card:hover .card-title::after {
    color: #0d6efd;
}

.hero-section {
    min-height: 75vh;
    display: flex;
    align-items: center;
    background-color: #000;
    background-image: url('../images/hero_img.jpg');
    background-size: cover;
    background-position: center;
}


a[href="#services"] {
      text-decoration: none;
      transition: background-color 0.3s ease;
}

a[href="#services"]:hover.btn {
    background-color: #2a7efb;
}


/* for hero section text */
.cover-container {
  max-width: 42em;
}


.mission {
    background-color: #f8f9fa;
    padding: 2rem;
    min-height: 50vh;
    width: 100%;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team {
    background-color: #f8f9fa;
    padding: 2rem;
    min-height: 100vh;
    width: 70%;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table td:nth-child(2),
.table th:nth-child(2)
{
    text-align: center;
}

.table
{
    vertical-align: middle;
}

.table th:nth-child(3) {
    text-align: center;
}

link[rel="icon"] {
    cursor: pointer;
}

ul.navbar-nav {
    margin: auto;
}

/* for medical departments page */
.departments-title-section {
    display: grid;
    place-content: center;
    margin-top: 100px;
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 0px;
}

.departments-title {
    font-size: 38px;
    color: rgb(29, 165, 224);
    margin-bottom: 30px;
}

.departments-subtitle {
    font-size: 18px;
    width: 700px;
}

.departments-pictures {
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 10px 10px 20px #888888;
}

.departments-section {
    width: 500px;
    border-color: rgb(85, 85, 85);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
    margin-top: 100px;
    margin-bottom: 80px;
    margin-left: 50px;
    margin-right: 0px;
}

.department-card {
    display: grid;
    place-content: left;
    border-width: 1px;
}

.department-card:hover {
    color: #0d6efd;
}

.department-card-body {
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
}

.department-collapse-button {
    background-color: rgb(0, 137, 207);
    color: white;
    cursor: pointer;
    padding-top: 8px;
    padding-bottom: 12px;
    padding-right: 18px;
    padding-left: 18px;
    text-align: left;
    border: none;
    outline: none;
    font-size: 20px;
    transition: background-color 0.15s;
}

.department-collapse-button:hover {
    background-color: rgba(0, 138, 207, 0.7);
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}
