.card {
    transition: transform 0.3s ease;
    cursor: pointer;
}
.card:hover {
    transform: scale(1.05);
}
.card-title {
    font-weight: bold;
    color: #000;
    text-decoration: none;
    transition: color 0.3s ease;
}
.card:hover .card-title {
    color: #0d6efd;
}
.card-title:hover {
    color: #0d6efd;
}
.card-title::after {
    content: ">";
    margin-left: 5px;
    transition: color 0.3s ease;
}

.card-title:hover::after {
    color: #0d6efd;
}

.card-text {
    color: #555;
}

.card:hover .card-title::after {
    color: #0d6efd;
}

.hero-section {
    min-height: 75vh;
    display: flex;
    align-items: center;
    background-color: #000;
    background-image: url('../images/hero_img.jpg');
    background-size: cover;
    background-position: center;
}


a[href="#services"] {
      text-decoration: none;
      transition: background-color 0.3s ease;
}

a[href="#services"]:hover.btn {
    background-color: #2a7efb;
}


/* for hero section text */
.cover-container {
  max-width: 42em;
}


.mission {
    background-color: #f8f9fa;
    padding: 2rem;
    height: 500px;
    width: 70%;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.team {
    background-color: #f8f9fa;
    padding: 2rem;
    min-height: 100vh;
    width: 70%;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table td:nth-child(2),
.table th:nth-child(2)
{
    text-align: center;
}

.table
{
    vertical-align: middle;
}

.table th:nth-child(3) {
    text-align: center;
}
