# Core Dependencies
flask~=3.0.3
Flask-Cors~=4.0.1
flask-sqlalchemy~=3.1.1
flask-wtf~=1.2.1
SQLAlchemy~=2.0.31
werkzeug~=3.0.3
WTForms~=3.1.2
bcrypt~=4.2.0
cryptography>=3.3
Jinja2~=3.1.4
MarkupSafe~=2.1.5
PyYAML~=5.3.1
requests>=2.25
urllib3>=1.25.8

# Development and Testing
flake8>=5.0  # Consider moving to requirements-dev.txt

