# Core Dependencies
flask~=2.3.3
Flask-Cors>=3.0.10
flask-sqlalchemy~=3.0.5
flask-wtf~=1.1.1
SQLAlchemy~=2.0.21
werkzeug~=2.3.7
WTForms~=3.0.1
cryptography>=3.3
Jinja2~=3.1.4
MarkupSafe~=2.1.2
PyYAML~=5.4.1
requests>=2.25
urllib3>=1.26.16
coverage>=7.0
flask-login~=0.6.2
pretty-errors~=1.2.25

flask-mail~=0.9.1
pyjwt~=2.6.0

flask-migrate~=4.0.0
flask-moment~=1.0.3

elasticsearch~=8.15.0

flask-babel~=3.0.1

email-validator==2.2.0
flask-limiter=3.8.0
# Development and Testing
flake8>=6.0
python-dotenv>=1.0
