{% extends "base_book_appointment.html" %}

{% block head_links_extra %}
    <script src="../static/js/patient/book_appointment.js"></script>
    <link rel='stylesheet' href="../static/css/patient/book_appointment.css">
{% endblock head_links_extra %}

{% block nav_pills %}
    <li class="nav-item">
        <a href="{{ url_for('patient_bp.dashboard')}}" class="nav-link link-body-emphasis my-nav-pill">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></svg>
            Dashboard
        </a>
    </li>

    <li>
        <a href="{{ url_for('patient_bp.book_appointment')}}" class="nav-link my-nav-pill active" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></svg>
            Book Appointment
        </a>
    </li>
{% endblock nav_pills %}

{% block progressbar_li_extra %}{% endblock progressbar_li_extra %}

{% block search_step_nav_buttons %}
    <input type="button" name="continue_with_current_account" class="continue btn btn-outline-primary" id="{{ current_user.id }}" value="Continue with Your Account">
    <input type="button" name="next" class="next btn btn-primary" value="Next" style="margin: 0;">
{% endblock search_step_nav_buttons %}

{% block fieldsets_extra %}{% endblock fieldsets_extra %}
