#progressbar #create_account:before {
    font-family: Arial;
    content: "2";
}

#progressbar #personal_info:before {
    font-family: Arial;
    content: "3";
}

#progressbar #vitals:before {
    content: "4";
}

#progressbar #allergies:before {
    content: "5";
}

#progressbar #appointment_info:before {
    content: "6";
}
