
/*progressbar*/
#progressbar {
    margin: 10px 10px;
    overflow: hidden;
    color: lightgrey;
}

#progressbar .active {
    color: #000000;
}

#progressbar li {
    list-style-type: none;
    font-size: 12px;
    width: 25%;
    float: left;
    position: relative;
}

/*Icons in the ProgressBar*/
#progressbar #account_search:before {
    font-family: Arial;
    content: "1";
}

#progressbar #create_account:before {
    font-family: Arial;
    content: "2";
}

#progressbar #personal_info:before {
    font-family: Arial;
    content: "3";
}

#progressbar #symptoms:before {
    font-family: Arial;
    content: "4";
}

#progressbar #appointment_info:before {
    font-family: Arial;
    content: "5";
}

/*ProgressBar before any progress*/
#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 18px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 3px 19px;
}

/*Color number of the step and the connector before it*/
#progressbar li.active:before, #progressbar li.active:after {
    background: rgb(29, 165, 224);
}

.step-name {
    font-size: 16px;
    width: 100%;
    height: 50px;
    color: black;
    text-align: center;
}

fieldset .form-card {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
    padding: 20px 40px 30px 40px;
    box-sizing: border-box;
    width: 94%;
    margin: 0 3% 20px 3%;

    /*stacking fieldsets above each other*/
    position: relative;
}

fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    padding-bottom: 20px;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
fieldset {
    display: none;
}

fieldset .form-card {
    text-align: left;
    color: #9E9E9E;
}

.previous {
    background-color: lightgray;
    color: #000000;
    border : 1px solid gray;
    transition: background-color 0.4s;
}

.previous:hover {
    background-color: rgb(185, 185, 185);
    border : 1px solid gray;
}

.search {
    background-color: lightgray;
    color: black;
    text-align: center;
    border: 1px solid gray;
    transition: background-color 0.4s;
    margin-left: 10px;
}

.search:hover {
    background-color: rgb(185, 185, 185);
    border: 1px solid gray;
}

.format-label {
    font-size: 16px;
    color: rgb(185, 185, 185);
}
