{% extends "logged_in_base.html" %}


{% block head_links %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="../static/js/receptionist/book_appointment.js"></script>
  <link rel='stylesheet' href="../static/css/receptionist/book_appointment.css">

{% endblock head_links %}

{% block nav_pills %}

  <li class="nav-item">
    <a href="{{ url_for('receptionist_bp.dashboard')}}" class="nav-link link-body-emphasis my-nav-pill">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></svg>
        Dashboard
    </a>
  </li>

  <li>
    <a href="{{ url_for('receptionist_bp.book_appointment')}}" class="nav-link my-nav-pill active" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></svg>
        Book Appointment
    </a>
  </li>

{% endblock nav_pills %}

{% block content %}
  <div class="col-md-10 mx-auto col-lg-5 p-4 p-md-5 border rounded-3 bg-body-tertiary">
    <form style="margin:0px">
      <ul class="d-flex align-items-center justify-content-center" id="progressbar" style="padding: 0 0">
          <li class="active" id="account_search"><p class="step-name overflow-hidden">Account Search</p></li>
          <li id="create_account"><p class="step-name overflow-hidden">Create New Account</p></li>
          <li id="personal_info"><p class="step-name overflow-hidden">Presonal Info</p></li>
          <li id="symptoms"><p class="step-name overflow-hidden">Symptoms</p></li>
          <li id="appointment_info"><p class="step-name overflow-hidden">Appointment Info</p></li>
      </ul>

      <fieldset>
        <p class='personal-info text-center' style="margin-top:16px">{{_('Find Patient Account')}}</p>
        {% if g.search_form %}
          <div class="d-flex justify-content-center" style="margin-top:16px">
              <div class='navbar-form navbar-center w-75 d-flex align-items-center justify-content-center' style="margin-top:10px;" role='search' method='GET' action="{{ url_for(session['previous_endpoint']) }}">
                  <div class='form-group'>
                      {{ g.search_form.q(class='form-control', placeholder=g.search_form.q.label.text, size=70) }}
                  </div>
                  <input type="submit" class="btn search" value="Search">
              </div>
          </div>
        {% endif %}
        <div class="d-flex align-items-center justify-content-center" style="margin: 30px 30px">
          <input type="button" name="next" class="next btn btn-primary" value="Next" style="margin: 0;">
        </div>
      </fieldset>

      <fieldset>
        <div class="row g-3" style="margin-top:0px; margin-bottom:30px; margin-right:20px; margin-left:20px;">
          <p class='personal-info text-center'>{{_('Create New Account')}}</p>

          <div class="col-md-12">
            <label for="inputEmail" class="form-label">{{_('Email')}}</label>
            <input type="email" class="form-control required" id="inputEmail" style="border: 1px solid gray">
            <div class="invalid-feedback"></div>
          </div>

          <div class="col-md-12">
            <label class="form-label" for="inputPassword">Password</label>
            <input class="form-control required" id="inputPassword" style="border: 1px solid gray" type="password">
            <div class="invalid-feedback"></div>
          </div>

          <div class="col-md-12">
            <label class="form-label" for="inputConfirmPassword">Repeat Password</label>
            <input class="form-control required" id="inputConfirmPassword" style="border: 1px solid gray" type="password">
            <div class="invalid-feedback"></div>
          </div>
        </div>

          <div class="d-flex align-items-center justify-content-between" style="margin: 30px 30px">
            <input type="button" name="previous" class="previous btn" value="Previous">
            <input type="button" name="next" class="next btn btn-primary" value="Next">
          </div>
      </fieldset>

      <fieldset>
          <div class="row g-3" style="margin-top:0px; margin-bottom:30px; margin-right:20px; margin-left:20px;">
            <p class='personal-info text-center'>{{_('Personal Information')}}</p>

            <div class="col-md-12">
              <label for="inputFullName" class="form-label">
                {{_('Full Name')}}
                <span class="required-field-sign">{{_('*')}}</span>
              </label>
              <input type="text" class="form-control required" id="inputFullName" style="border: 1px solid gray">
              <div class="invalid-feedback"></div>
            </div>

            <div class="col-md-6">
              <label for="inputNationalID" class="form-label">
                {{_('National ID')}}
                <span class="required-field-sign">{{_('*')}}</span>
              </label>
              <input type="tel" class="form-control required" id="inputNationalID"style="border: 1px solid gray">
              <div class="invalid-feedback"></div>
            </div>

            <div class="col-md-6">
              <label for="inputPhone" class="form-label">
                {{_('Contact Number')}}
                <span class="required-field-sign">{{_('*')}}</span>
              </label>
              <input type="tel" class="form-control required" id="inputPhone"style="border: 1px solid gray">
              <div class="invalid-feedback"></div>
            </div>

            <div class="col-md-6">
              <label for="inputBirthDate" class="form-label">
                {{_('Birth Date')}}
                <span class="required-field-sign">{{_('*')}}</span>
              </label>
              <input type="date" class="form-control required" id="inputBirthDate" style="border: 1px solid gray">
              <div class="invalid-feedback"></div>
            </div>

            <div class="col-md-6">
              <label for="inputGender" class="form-label">
                {{_('Gender')}}
                <span class="required-field-sign">{{_('*')}}</span>
              </label>
              <Select type="select" class="form-select required" id="inputGender" style="border: 1px solid gray">
                <option value="">{{_('Choose your gender')}}</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </Select>
              <div class="invalid-feedback"></div>
            </div>

            <div class="col-md-12">
              <label for="inputCity" class="form-label">
                {{_('City')}}
                <span class="required-field-sign">{{_('*')}}</span>
              </label>
              <select type="select" id="inputCity" class="form-select required" style="border: 1px solid gray">
                <option value="">{{_('Choose your city')}}</option>
                <option value="riyadh">{{_('Riyadh')}}</option>
                <option value="jeddah">{{_('Jeddah')}}</option>
                <option value="mecca">{{_('Mecca')}}</option>
                <option value="medina">{{_('Medina')}}</option>
                <option value="ad_dammam">{{_('Ad Dammām')}}</option>
                <option value="tabuk">{{_('Tabūk')}}</option>
                <option value="al_hufuf">{{_('Al Hufūf')}}</option>
                <option value="al_qatif">{{_('Al Qaţīf')}}</option>
                <option value="al_hillah">{{_('Al Ḩillah')}}</option>
                <option value="at_taif">{{_('Aţ Ţā’if')}}</option>
                <option value="al_jubayl">{{_('Al Jubayl')}}</option>
                <option value="buraydah">{{_('Buraydah')}}</option>
                <option value="hafr_al_Batin">{{_('Ḩafr al Bāţin')}}</option>
                <option value="Yanbu">{{_('Yanbu')}}</option>
                <option value="hail">{{_('Ḩā’il')}}</option>
                <option value="abha">{{_('Abhā')}}</option>
                <option value="sakaka">{{_('Sakākā')}}</option>
                <option value="al_qurayyat">{{_('Al Qurayyāt')}}</option>
                <option value="jazan">{{_('Jāzān')}}</option>
                <option value="najran">{{_('Najrān')}}</option>
                <option value="al_wajh">{{_('Al Wajh')}}</option>
                <option value="arar">{{_('Arar')}}</option>
                <option value="al_Baḩah">{{_('Al Bāḩah')}}</option>
                <option value="tathlith">{{_('Tathlīth')}}</option>
                <option value="other">{{_('Other')}}</option>
              </select>
              <div class="invalid-feedback"></div>
            </div>

            <div class="col-12">
              <label for="inputAddress" class="form-label">{{_('Address')}}</label>
              <textarea type="textarea" class="form-control" id="inputAddress" placeholder="{{_('12 Main St ...')}}" style="border:1px solid gray;"></textarea>
            </div>
          </div>
        <div class="d-flex align-items-center justify-content-between" style="margin: 30px 30px">
          <input type="button" name="previous" class="previous btn" value="Previous">
          <input type="button" name="next" class="next btn btn-primary" value="Next">
        </div>
      </fieldset>

      <fieldset>
        <div class="row g-3" style="margin-top:0px; margin-bottom:30px; margin-right:20px; margin-left:20px;">
          <p class='personal-info text-center'>{{_('Symptoms')}}</p>
        </div>
        <div class="d-flex align-items-center justify-content-between" style="margin: 30px 30px">
          <input type="button" name="previous" class="previous btn" value="Previous">
          <input type="button" name="skip" class="skip btn" value="Skip">
          <input type="button" name="next" class="next btn btn-primary" value="Next">
        </div>
      </fieldset>

      <fieldset>
          <div class="row g-3" style="margin-top:0px; margin-bottom:30px; margin-right:20px; margin-left:20px;">
            <p class='personal-info text-center'>{{_('Appointment Information')}}</p>

            <div class="col-md-12">
              <label for="inputDepartment" class="form-label">
                {{_('Department')}}
                <span class="required-field-sign">{{_('*')}}</span>
              </label>
              <select type="select" class="form-select required" id="inputDepartment" style="border: 1px solid gray">
                <option value="">{{_('Choose a department')}}</option>
              </select>
              <div class="invalid-feedback"></div>
            </div>

            <div class="col-md-12">
              <label for="inputDoctor" class="form-label">
                {{_('Doctor')}}
                <span class="required-field-sign">{{_('*')}}</span>
              </label>
              <select type="select" class="form-select required" id="inputDoctor" style="border: 1px solid gray">
                <option value="">{{_('Choose a doctor')}}</option>
              </select>
              <div class="invalid-feedback"></div>
            </div>

            <div class="col-md-12">
              <label for="inputDateTime" class="form-label">
                {{_('Date & Time')}}
                <span class="required-field-sign">{{_('*')}}</span>
              </label>
              <input type="datetime-local" class="form-control required" id="inputDateTime" style="border: 1px solid gray">
              <div class="invalid-feedback"></div>
            </div>

            <div class="col-md-12">
              <label for="inputComments" class="form-label">
                {{_('Comments')}}
              </label>
              <textarea type="textarea" class="form-control" id="inputComments" style="border:1px solid gray;"></textarea>
              <div class="invalid-feedback"></div>
            </div>
          </div>
        <div class="d-flex align-items-center justify-content-between" style="margin: 30px 30px">
          <input type="button" name="previous" class="previous btn" value="Previous">
          <button type="submit" class="btn btn-primary book-button">{{_('Complete Booking')}}</button>
        </div>
      </fieldset>

    </form>
  </div>

  <script>
    function loadDepartments() {
        const departmentSelect = document.getElementById('inputDepartment');
        const datetimeSelect = document.getElementById('inputDateTime');
        const doctorSelect = document.getElementById('inputDoctor');

        var departments;
        const all_doctors = new Object();

        $.ajax({
          url: '/api/v1/departments',
          method: 'GET',
          type: 'GET',
          contentType: 'application/json',
          success: function (data_departments) {
            departments = data_departments.results; // data_departments.results is a list of objects containing all departments
            var i = 0;
            departments.forEach((department) => {
              let option = document.createElement('option');
              option.setAttribute('value', String(department.id));
              option.setAttribute('label', department.name);
              departmentSelect.appendChild(option);
              console.log(department, department.id, department.doctors);
              all_doctors[String(department.id)] = department.doctors; // department.doctors is a list of objects containing all doctors in the department
            });
          },
          error: function () {
            alert('Failed to load the departments, Please try again.');
          },
        });

        departmentSelect.addEventListener("change", (event) => {
          resetDoctorOptions(doctorSelect);

          const department_id = event.target.value;
          const doctors = all_doctors[department_id];

          if (typeof doctors === "undefined" || doctors.length === 0) {
            if (department_id !== "") {
              alert('Unfortunately, this department is currently closed.');
            }
            return;
          }

          doctors.forEach((doctor) => {
            let option = document.createElement('option');
            option.setAttribute('value', doctor.id);
            option.setAttribute('label', doctor.name);
            doctorSelect.appendChild(option);
          });
        });

        function resetDoctorOptions(doctorSelectElement) {
          let optionIndex, lenght = doctorSelectElement.options.length - 1;

          for (optionIndex = lenght; optionIndex >= 0; optionIndex--) {
            doctorSelectElement.remove(optionIndex);
          }
          let option = document.createElement('option');
          option.setAttribute('value', '');
          option.setAttribute('label', "Choose a doctor");
          doctorSelectElement.appendChild(option);
          doctorSelectElement.value = '';
        }
    }
  </script>

{% endblock content%}
