{% extends "base_book_appointment.html" %}

{% block head_links_extra %}
    <script src="../static/js/receptionist/book_appointment.js"></script>
    <link rel='stylesheet' href="../static/css/receptionist/book_appointment.css">
{% endblock head_links_extra %}

{% block nav_pills %}
    <li class="nav-item">
        <a href="{{ url_for('receptionist_bp.dashboard')}}" class="nav-link link-body-emphasis my-nav-pill">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></svg>
            Dashboard
        </a>
    </li>

    <li>
        <a href="{{ url_for('receptionist_bp.book_appointment')}}" class="nav-link my-nav-pill active" aria-current="page">
            <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></svg>
            Book Appointment
        </a>
    </li>
{% endblock nav_pills %}

{% block progressbar_li_extra %}
    <li id="create_account"><p class="step-name text-break">Create New Account</p></li>
    <li id="personal_info"><p class="step-name text-break">Presonal Info</p></li>
{% endblock progressbar_li_extra %}

{% block search_step_nav_buttons %}
    <input type="button" name="next" class="next btn btn-primary" value="Next" style="margin: 0;">
    <div name="styling_div" value=""></div>
{% endblock search_step_nav_buttons %}

{% block fieldsets_extra %}

    <fieldset id='fieldset_1' class="needs-validation"
            oninput='inputConfirmPassword.setCustomValidity(inputConfirmPassword.value != inputPassword.value ? "Passwords do not match." : "")'>
        <div class="row g-3" style="margin-top:0px; margin-bottom:30px; margin-right:20px; margin-left:20px;">
            <p class='fieldset-title text-center'>{{_('Create New Account')}}</p>

            <div class="col-md-12">
                <label for="inputEmail" class="form-label">{{_('Email')}}</label>
                <input type="email" name="email" class="form-control" required id="inputEmail" pattern="^\S+@\S+\.\S+$">
                <label class="visually-hidden format-label form-label" id="input-format" for="inputEmail">format: user@example.com</label>
            </div>

            <div class="col-md-12">
                <label class="form-label" for="inputPassword">Password</label>
                <input class="form-control" name="password" required id="inputPassword" type="password" pattern="^(?:(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^\da-zA-Z]).{8,})$">
                <label class="visually-hidden format-label form-label" id="input-format" for="inputPassword">
                    Password must contain at least 8 characters, including 1 uppercase letter, 1 lowercase letter, 1 number, and 1 special character.
                </label>
            </div>

            <div class="col-md-12">
                <label class="form-label" for="inputConfirmPassword">Repeat Password</label>
                <input class="form-control" name="confirmPassword" required id="inputConfirmPassword" type="password" pattern="^(?:(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^\da-zA-Z]).{8,})$">
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-between" style="margin: 30px 30px">
            <input type="button" name="previous" class="previous btn" value="Previous">
            <input type="button" name="next" class="next btn btn-primary" value="Next">
        </div>
    </fieldset>

    <fieldset id='fieldset_2' class="needs-validation"
            oninput='inputBirthDate.setCustomValidity(new Date(inputBirthDate.value) > new Date() ? "Birth date cannot be in the future." : "")'>
        <div class="row g-3" style="margin-top:0px; margin-bottom:30px; margin-right:20px; margin-left:20px;">
            <p class='fieldset-title text-center'>{{_('Personal Information')}}</p>

            <div class="col-md-12">
                <label for="inputFullName" class="form-label">
                    {{_('Full Name')}}
                    <span class="required-field-sign">{{_('*')}}</span>
                </label>
                <input name="name" type="text" class="form-control" required id="inputFullName">
            </div>

            <div class="col-md-6">
                <label for="inputNationalID" class="form-label">
                    {{_('National ID')}}
                    <span class="required-field-sign">{{_('*')}}</span>
                </label>
                <input name="national_id" type="tel" class="form-control" required id="inputNationalID" pattern="^22[0-9]{8}$">
                <label class="visually-hidden format-label form-label" id="input-format" for="inputNationalID">format: 22xxxxxxxx , the length is exactly 10</label>
            </div>

            <div class="col-md-6">
                <label for="inputPhone" class="form-label">
                    {{_('Contact Number')}}
                    <span class="required-field-sign">{{_('*')}}</span>
                </label>
                <input name="contact_number" type="tel" class="form-control" required id="inputPhone" pattern="^05[0-9]{8}$">
                <label class="visually-hidden format-label form-label" id="input-format" for="inputPhone">format: 05xxxxxxxx , the length is exactly 10</label>
            </div>

            <div class="col-md-6">
                <label for="inputBirthDate" class="form-label">
                    {{_('Birth Date')}}
                    <span class="required-field-sign">{{_('*')}}</span>
                </label>
                <input name="birth_date" type="date" class="form-control" required id="inputBirthDate">
            </div>

            <div class="col-md-6">
                <label for="inputGender" class="form-label">
                    {{_('Gender')}}
                    <span class="required-field-sign">{{_('*')}}</span>
                </label>
                <Select name="gender" type="select" class="form-select" required id="inputGender">
                    <option value="">{{_('Choose your gender')}}</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </Select>
            </div>

            <div class="col-md-12">
                <label for="inputCity" class="form-label">
                    {{_('City')}}
                    <span class="required-field-sign">{{_('*')}}</span>
                </label>
                <select name="city" type="select" id="inputCity" class="form-select" required>
                    <option value="">{{_('Choose your city')}}</option>
                    <option value="riyadh">{{_('Riyadh')}}</option>
                    <option value="jeddah">{{_('Jeddah')}}</option>
                    <option value="mecca">{{_('Mecca')}}</option>
                    <option value="medina">{{_('Medina')}}</option>
                    <option value="ad_dammam">{{_('Ad Dammām')}}</option>
                    <option value="tabuk">{{_('Tabūk')}}</option>
                    <option value="al_hufuf">{{_('Al Hufūf')}}</option>
                    <option value="al_qatif">{{_('Al Qaţīf')}}</option>
                    <option value="al_hillah">{{_('Al Ḩillah')}}</option>
                    <option value="at_taif">{{_('Aţ Ţā’if')}}</option>
                    <option value="al_jubayl">{{_('Al Jubayl')}}</option>
                    <option value="buraydah">{{_('Buraydah')}}</option>
                    <option value="hafr_al_Batin">{{_('Ḩafr al Bāţin')}}</option>
                    <option value="Yanbu">{{_('Yanbu')}}</option>
                    <option value="hail">{{_('Ḩā’il')}}</option>
                    <option value="abha">{{_('Abhā')}}</option>
                    <option value="sakaka">{{_('Sakākā')}}</option>
                    <option value="al_qurayyat">{{_('Al Qurayyāt')}}</option>
                    <option value="jazan">{{_('Jāzān')}}</option>
                    <option value="najran">{{_('Najrān')}}</option>
                    <option value="al_wajh">{{_('Al Wajh')}}</option>
                    <option value="arar">{{_('Arar')}}</option>
                    <option value="al_Baḩah">{{_('Al Bāḩah')}}</option>
                    <option value="tathlith">{{_('Tathlīth')}}</option>
                    <option value="other">{{_('Other')}}</option>
                </select>
            </div>

            <div class="col-12">
                <label for="inputAddress" class="form-label">{{_('Address')}}</label>
                <textarea name="address" type="textarea" class="form-control" id="inputAddress" placeholder="{{_('12 Main St ...')}}"></textarea>
            </div>
        </div>

        <div class="d-flex align-items-center justify-content-between" style="margin: 30px 30px">
            <input type="button" name="previous" class="previous btn" value="Previous">
            <input type="button" name="next" class="next btn btn-primary" value="Next">
        </div>
    </fieldset>

{% endblock fieldsets_extra %}
