<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="icon" href="/static/images/Logo.png.webp">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <link rel="stylesheet" href="../static/css/styles.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
        <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/sidebars/">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
        <link href="../static/css/logged_in/sidebars.css" rel="stylesheet">
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <style>

            .b-example-divider {
                width: 100%;
                height: 3rem;
                background-color: rgba(0, 0, 0, .1);
                border: solid rgba(0, 0, 0, .15);
                border-width: 1px 0;
                box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
            }

            .b-example-vr {
                flex-shrink: 0;
                width: 1.5rem;
                height: 100vh;
            }

            .bi {
                vertical-align: -.125em;
                fill: currentColor;
            }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }

            .dropdown-menu .active .bi {
                display: block !important;
            }

        </style>

        {% block head_links %}

        {% endblock head_links %}

        <svg xmlns="http://www.w3.org/2000/svg" class="d-none">
            <symbol id="home" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/>
            </symbol>
            <symbol id="table" viewBox="0 0 16 16">
                <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
            </symbol>
            <symbol id="people-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </symbol>
        </svg>
    </head>
    <body class="bg-primary-subtle">
        <div class="container-fluid" style="margin: 10px 10px">
            <div class="d-flex justify-content-around align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-list border rounded-2" viewBox="0 0 16 16" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample" style="padding:5px 5px;">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                </svg>

                <a href="{{ url_for('main.index') }}">
                    <img src="../static/images/Logo.png.webp" alt='logo'>
                </a>

                <div>
                    <button type="button" onclick="location.href='{{ url_for('auth.logout') }}'" class="btn btn-outline-primary w-100 btn-block mb-2">Logout</button>
                </div>
            </div>


            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 305px;">
                <div class="d-flex flex-nowrap">
                    <div class="b-example-divider b-example-vr"></div>

                    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="{{ url_for('main.index') }}" class="d-flex align-items-center justify-content-between link-body-emphasis text-decoration-none">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-hospital" viewBox="0 0 16 16" style="color:rgb(13, 110, 253)">
                                    <path d="M8.5 5.034v1.1l.953-.55.5.867L9 7l.953.55-.5.866-.953-.55v1.1h-1v-1.1l-.953.55-.5-.866L7 7l-.953-.55.5-.866.953.55v-1.1zM13.25 9a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25zM13 11.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25zm.25 1.75a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25zm-11-4a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5A.25.25 0 0 0 3 9.75v-.5A.25.25 0 0 0 2.75 9zm0 2a.25.25 0 0 0-.25.25v.5c0 .138.112.25.25.25h.5a.25.25 0 0 0 .25-.25v-.5a.25.25 0 0 0-.25-.25zM2 13.25a.25.25 0 0 1 .25-.25h.5a.25.25 0 0 1 .25.25v.5a.25.25 0 0 1-.25.25h-.5a.25.25 0 0 1-.25-.25z"/>
                                    <path d="M5 1a1 1 0 0 1 1-1h4a1 1 0 0 1 1 1v1a1 1 0 0 1 1 1v4h3a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h3V3a1 1 0 0 1 1-1zm2 14h2v-3H7zm3 0h1V3H5v12h1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1zm0-14H6v1h4zm2 7v7h3V8zm-8 7V8H1v7z"/>
                                </svg>
                                <span class="fs-4" style="padding-left:10px">Raseel Center</span>
                            </a>
                            <button type="button" class="btn-close" aria-label="Close"  data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"></button>
                        </div>
                        <hr>

                        <ul class="nav nav-pills flex-column mb-auto">
                            {% block nav_pills %}

                            {% endblock nav_pills%}
                        </ul>
                        <hr>

                        <div class="dropdown">
                            <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="margin-bottom:15px">
                                <svg class="bi pe-none me-2" width="30" height="30">
                                    <use xlink:href="#people-circle"></use>
                                </svg>
                                <strong>{{ current_user.name }}</strong>
                            </a>

                            <ul class="dropdown-menu text-small shadow">
                                <li><a class="dropdown-item" href="{{ url_for('main.edit_profile') }}">Edit Profile</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('auth.logout') }}">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container mt-3">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% for category, message in  messages %}
                    <div class="alert alert-{{ category }}" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endwith %}
        </div>
        {% block content %}

        {% endblock content %}
        <section>
            <div class="container-fluid d-flex align-items-end">
                <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 w-100 my-4 border-top">
                    <p class="col-md-3 mb-0 text-dark text-center">{{ _('&copy; 2024 Raseel Medical Care Center') }}</p>

                    <div class="col-md-4">
                        <p class="text-center">{{ _('Follow Raseel on:') }}</p>
                        <ul class="justify-content-center align-items-center d-flex nav list-unstyled">
                            <li class="ms-3"><a href="https://x.com/raseel_center" target="_blank"><h4><i class="bi bi-twitter-x"></i></h4></a></li>
                            <li class="ms-3"><a href="https://www.instagram.com/raseel_center/" target="_blank"><h4><i class="bi bi-instagram"></i></h4></a></li>
                            <li class="ms-3"><a href="https://wa.me/966112047700" target="_blank"><h4><i class="bi bi-whatsapp"></i></h4></a></li>
                        </ul>
                    </div>

                    <div class="col-md-4">
                        <p class="text-center">{{ _('Connect with developers:') }}</p>
                        <ul class="justify-content-center align-items-center d-flex nav list-unstyled">
                            <li class="nav-item" aria-label="project repo"><a href="https://github.com/AhmedShehab1/Raseel_Clinical_System" target="_blank" class="nav-link px-2 text-dark fw-bold"><h4><i class="bi bi-github"></i></h4></a></li>
                            <li class="nav-item" aria-label="developer #1"><a href="https://www.linkedin.com/in/ahmed-shehab-engineering" target="_blank" class="nav-link px-2 text-dark fw-bold"><h4><i class="bi bi-linkedin text-primary"></i></h4></a></li>
                            <li class="nav-item" aria-label="developer #2"><a href="https://www.linkedin.com/in/mazen-atlam-801788267" target="_blank" class="nav-link px-2 text-dark fw-bold"><h4><i class="bi bi-linkedin text-primary"></i></h4></a></li>
                        </ul>
                    </div>
                </footer>
            </div>
        </section>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    </body>
</html>
