{% extends "base_visitors.html" %}
{% block content %}

		<div class="departments-title-section" style="text-align:center">
			<h1 class="departments-title">{{_('Medical Departments')}}</h1>
			<p class="departments-subtitle">
				{{ _('Raseel Medical Center contains various medical departments including all medical specialties, radiology and emergency aid.')}}
			</p>
			<p class="departments-subtitle">
				{{_('Go down and learn about the medical departments available at Raseel Medical Center.')}}
			</p>
		</div>

		<div class="container-xxl">
			<div class="row align-items-center justify-content-between">
				<div class="col-12 col-lg-4">
					<div class="departments-section" id="accordion">
						<div>
							<div class="department-card" id="headingOne">
								<button class="department-collapse-button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									{{_('Department of Obstetrics and Gynecology')}}
								</button>
							</div>
							<div class="collapse" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="department-card-body">
									<p>{{_('The department consists of:')}}</p>
									<ul>
										<li>{{_('Three specialized clinics.')}}</li>
										<li>{{_('Ultrasound unit (4D).')}}</li>
										<li>{{_('Fetal monitoring unit.')}}</li>
										<li>{{_('Processors and procedures module.')}}</li>
									</ul>
								</div>
							</div>
						</div>

						<div>
							<div class="department-card" id="headingTwo">
								<button class="department-collapse-button " data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									{{_("Children's Department")}}
								</button>
							</div>
							<div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
								<div class="department-card-body">
									<p>{{_('The department consists of:')}}</p>
									<ul>
										<li>{{_('Three specialized clinics.')}}</li>
										<li>{{_('Vaccination unit and treatment unit.')}}</li>
									</ul>
								</div>
							</div>
						</div>

						<div>
							<div class="department-card" id="headingThree">
								<button class="department-collapse-button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									{{_('The Department of Surgery')}}
								</button>
							</div>
							<div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
								<div class="department-card-body">
									<p>{{_('The department consists of:')}}</p>
									<ul>
										<li>{{_('General Surgery.')}}</li>
										<li>{{_('Eyes.')}}</li>
										<li>{{_('Urinary Tract.')}}</li>
										<li>{{_('Ear, nose, throat and audiology unit.')}}</li>
										<li>{{_('Bones.')}}</li>
									</ul>
								</div>
							</div>
						</div>

						<div>
							<div class="department-card" id="headingFour">
								<button class="department-collapse-button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									{{_('The dental department')}}
								</button>
							</div>
							<div class="collapse" id="collapseFour" aria-labelledby="headingFour" data-parent="#accordion">
								<div class="department-card-body">
									<p>{{_('The department consists of 5 clinics')}}</p>
								</div>
							</div>
						</div>

						<div>
							<div class="department-card" id="headingFive">
								<button class="department-collapse-button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
									{{_('The Department of Internal Medicine')}}
								</button>
							</div>
							<div class="collapse" id="collapseFive" aria-labelledby="headingFive" data-parent="#accordion">
								<div class="department-card-body">
									<p>{{_('The department consists of:')}}</p>
									<ul>
										<li>{{_('Internal medicine and cardiology.')}}</li>
										<li>{{_('Cardiac ultrasound diagnostic unit.')}}</li>
										<li>{{_('Gastrointestinal unit and gastrointestinal endoscopy.')}}</li>
										<li>{{_('Skin diseases.')}}</li>
										<li>{{_('Chest diseases (coming soon).')}}</li>
										<li>{{_('Endocrinology and Diabetes (coming soon).')}}</li>
									</ul>
								</div>
							</div>
						</div>

						<div>
							<div class="department-card" id="headingSix">
								<button class="department-collapse-button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
									{{_('The Emergency and General Medicine Department')}}
								</button>
							</div>
							<div class="collapse" id="collapseSix" aria-labelledby="headingSix" data-parent="#accordion">
								<div class="department-card-body">
									<p>{{_('The department consists of:')}}</p>
									<ul>
										<li>{{_('General medicine and general medicine clinics.')}}</li>
										<li>{{_('Cardiac resuscitation unit.')}}</li>
										<li>{{_('Minor operations unit.')}}</li>
										<li>{{_('Observation and treatment department (7 beds).')}}</li>
									</ul>
								</div>
							</div>
						</div>

						<div>
							<div class="department-card" id="headingSeven">
								<button class="department-collapse-button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
									{{_('Diagnostic Radiology Department')}}
								</button>
							</div>
							<div class="collapse" id="collapseSeven" aria-labelledby="headingSeven" data-parent="#accordion">
								<div class="department-card-body">
									<p>{{_('The department consists of:')}}</p>
									<ul>
										<li>{{_('X ray.')}}</li>
										<li>{{_('Panoramic dental x-rays.')}}</li>
										<li>{{_('Ultrasound.')}}</li>
										<li>{{_('CT scan (coming soon).')}}</li>
									</ul>
								</div>
							</div>
						</div>

						<div>
							<div class="department-card" id="headingEight">
								<button class="department-collapse-button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
									{{_('The laboratory section')}}
								</button>
							</div>
							<div class="collapse" id="collapseEight" aria-labelledby="headingEight" data-parent="#accordion">
								<div class="department-card-body">
									<p>{{_('The department consists of:')}}</p>
									<ul>
										<li>{{_('Chemistry department.')}}</li>
										<li>{{_('Blood.')}}</li>
										<li>{{_('Immunity.')}}</li>
										<li>{{_('Microbiology.')}}</li>
									</ul>
								</div>
							</div>
						</div>

						<div>
							<div class="department-card" id="headingNine">
								<button class="department-collapse-button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
									{{_('Department of Pharmacy')}}
								</button>
							</div>
							<div class="collapse" id="collapseNine" aria-labelledby="headingNine" data-parent="#accordion">
								<div class="department-card-body">
									<p>{{_('The department is specialized in dispensing medicines.')}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-12 col-lg-6 departments-pictures" style="padding: 0px">
					<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img class="d-block w-100 department-image" src="../static/images/image.png" alt="raseel_center">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100 department-image" src="../static/images/medical_departments/department_of_obstetrics_and_gynecology.jpg" alt="department_of_obstetrics_and_gynecology">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100 department-image" src="../static/images/medical_departments/department_of_pediatrics.jpg" alt="department_of_pediatrics">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100 department-image" src="../static/images/medical_departments/department_of_pharmacy.jpg" alt="department_of_pharmacy">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100 department-image" src="../static/images/medical_departments/department_of_surgery.jpg" alt="department_of_surgery">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100 department-image" src="../static/images/medical_departments/dental_department.jpg" alt="dental_department">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100 department-image" src="../static/images/medical_departments/emergency_and_general_medicine_department.jpg" alt="emergency_and_general_medicine_department">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100 department-image" src="../static/images/medical_departments/department_of_internal_medicine.jpg" alt="department_of_internal_medicine">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100 department-image" src="../static/images/medical_departments/diagnostic_radiology_department.jpg" alt="diagnostic_radiology_department">
							</div>
							<div class="carousel-item">
								<img class="d-block w-100 department-image" src="../static/images/medical_departments/laboratory_section.jpg" alt="laboratory_section">
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						</a>
						<a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
						</a>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{% endblock content %}
